html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Poppins !important;
}
.card-image {
  /* background-size: cover;
    background-repeat: repeat; */
  position: relative;
}
.navbar {
  background-color: black;
  font-weight: bolder;
}
.navbar-brand {
  font-size: 48x;
  color: white;
}
.nav-link {
  font-size: 48x;
  color: white;
}
